# Dependencies
node_modules
.pnp
.pnp.js
backend/venv
backend/__pycache__

# Testing
coverage

# Production
.next/
out/
build/
*.db
*.sqlite3

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel
